<!DOCTYPE HTML>
<!--
	Escape Velocity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

	Edited by Ga-eun Kim

	Home
-->
<html>
	<head>
		<title>E-HealthCare</title>
		<link rel="shortcut icon" href="images/logo.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />

        <link rel="canonical" href="" />
        <link rel="apple-touch-icon-precomposed" href="" sizes="" />
        <meta name="description" content="">
        <meta name="author" content="aiif">

        <script type="text/javascript" src="/js/webfont.min.js"></script>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/content.css">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/snuh-components-v1.0.0.js"></script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Header -->
				<section id="header" class="wrapper">
					<!-- Logo -->
						<div id="logo">
							<img src = "images/logo.png" style="float: center; display: inline; margin: 1em; width:4em; height:4em;">

							<h1><a href="main.html">E-HealthCare</a></h1>
							<p>An online consultation and medical subscription</p>
						</div>
                          <!-- gnb -->
                          <nav id="gnb">
                            <button class="totMenuBtn hideTxt" type="button">전체 메뉴 열기</button>
                            <h2 class="hideEl">주 메뉴</h2>
                            <ul class="gnbList clearFix">
                              <li>
                                <a href="/" onclick="return false;">헬스케어 소개</a>

                              </li>
                              <li>
                                <a href="/search" onclick="return false;">분야선택</a>

                              </li>
                              <li>
                                <a href="/" onclick="return false;">의사검색</a>

                              </li>
                              <li>
                                <a href="/" onclick="return false;">내 질병 찾기</a>

                              </li>
                              <li>
                                <a href="/" onclick="return false;">마이페이지</a>

                              </li>

                            </ul>

                          </nav>
                          <!-- //gnb -->



				</section>
			<!-- Main Home -->
				<section id="intro" class="wrapper style2">
					<div class="title">Introduction</div>
					<div class="container">
						<p class="style1">E-HealthCare는 의사의 도움을 필요로 하는</p>
						<p class="style1">다양한 환자들에게 원격 진료 서비스를 제공합니다.</p>
					</div>
				</section>

			<!-- Footer -->


	</body>
{{> footer}}
